<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="dbContext"/>
  </appSettings>
  
  <!--<connectionStrings>
    <add name="dbContext"
         providerName="Microsoft.EntityFrameworkCore.Sqlite"
         connectionString="~/.PassMan/data/db.sqlite"/>
  </connectionStrings>-->

  <connectionStrings>
    <add name="dbContext" connectionString="Data Source=MyDatabase.db;" providerName="Microsoft.EntityFrameworkCore.Sqlite" />
  </connectionStrings>
</configuration>
